* {
	box-sizing: border-box;
}
body {
	background-color: $primary-nav-blue;
}

.sp1-site-container {
	display: flex;
}



.sp1-main-content {
	background-color: $primary-green;
	height: 100vh;
	overflow: scroll;
	flex: 1 1 75%;
}