.sp1-main-navigation {
	height: 100vh;
	flex: 1 1 25%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 3em;
	& ul {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 25vh;
		width: 100%;
		color: $font-light;
		font-family: $oswald;
		list-style-type: none;
		padding: 0 0 0 3em;
		margin: 0 auto;
		text-align: right;
		// border: solid 1px magenta;
		text-transform: uppercase;
		& li {
			letter-spacing: 0.15em;
			font-size: 0.765em;
			border-bottom: solid 2px transparentize($font-gray, 0.5);
			padding: 1.25em 0;
		}
	}
}
